doctype html 
html 
    head
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5388340856660142"crossorigin="anonymous"></script>
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Mr.Time
        style 
            include ../static/style.css 
    body 
        .container 
            h1.time -----
            h1.day ---------
            h1.date ----------
        script(src="./static/script.js") ;
